# Q1:

Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

In [70]:
pizza= ["chicken tikka","fajita","veggie"]

In [71]:
for i in pizza :
    print (i)

chicken tikka
fajita
veggie

# Q2

Start with your last question , Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

In [72]:
pizza= ["chicken tikka","fajita","veggie"]

In [73]:
for i in pizza :
    print (f' I love {i} pizza' )

 I love chicken tikka pizza
 I love fajita pizza
 I love veggie pizza

# Q3:

Use a for loop to print the numbers from 1 to 20,
inclusive.

In [74]:
for a in range(1, 21) :
    print (a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Q4:

Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20. Use a for loop to print each number.

In [75]:
for i in range(1,20,2) :
    print (i)

1
3
5
7
9
11
13
15
17
19

# Q5:

Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.

In [76]:
multi = [3,6,9,12,15,18,21,24,27,30]
empty = []

In [77]:
for b in multi :
    empty.append(b)
print (empty)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

# Q6:

A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube

In [78]:
cubes= [1,8,27,64,125,216,343,512,729,1000]
dcube= []

In [79]:
for i in cubes:
    dcube.append(i)
print (dcube )

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Q7:

###### Make a python program that conatains your nine favourite dishes in a list called foods.

###### Print the message, The first three items in the list are:. 
###### Then use a slice to print the first three items from that program’s list.

###### Print the message, Three items from the middle of the list are:
###### Use a slice to print three items from the middle of the list.

###### Print the message, The last three items in the list are:
###### Use a slice to print the last three items in the list.

In [80]:
food = ["Biryani","Karahi","Handi","Burger","Roll","pizza","tikka","spagetti","pasta"]

In [81]:
print ("The first three items in the list are: " )
food[0:3]

The first three items in the list are:

['Biryani', 'Karahi', 'Handi']

In [82]:
print("Three items from the middle of the list are:")
food [3:6]

Three items from the middle of the list are:

['Burger', 'Roll', 'pizza']

In [83]:
print(" The last three items in the list are:")
food [6:9]

 The last three items in the list are:

['tikka', 'spagetti', 'pasta']

# Q8:

### Start with your program from your last Question8.
###### Make a copy of the list of foods, and call it friend_foods.
###### Then, do the following:
######    Add a new dish to the original list.
######    Add a different dish to the list friend_foodss.
######    Prove that you have two separate lists. 
###### Print the message, My favorite pizzas are: and then use a for loop to print the first list. 
###### Print the message,
###### My friend’s favorite foods are:, and then use a for loop to print the second list.
    
##### NOTE: Make sure each new dish is stored in the appropriate list.

In [84]:
friend_food = food . copy()

In [85]:
food.append("pulao")

In [86]:
friend_food.append("lasania")

In [87]:
food

['Biryani',
 'Karahi',
 'Handi',
 'Burger',
 'Roll',
 'pizza',
 'tikka',
 'spagetti',
 'pasta',
 'pulao']

In [88]:
friend_food

['Biryani',
 'Karahi',
 'Handi',
 'Burger',
 'Roll',
 'pizza',
 'tikka',
 'spagetti',
 'pasta',
 'lasania']

In [93]:
 print("my favorite pizzas are")
for y in pizza :
    print (y)

my favorite pizzas are
chicken tikka
fajita
veggie

In [92]:
print ("My friend’s favorite foods are:")
for x in friend_food:
    print (x)

My friend’s favorite foods are:
Biryani
Karahi
Handi
Burger
Roll
pizza
tikka
spagetti
pasta
lasania

# Q9:

Take a user input from console line.Store it in a variable called Alien_color.

If the alien’s color is red, print a statement that the player just earned 5 points for shooting the alien.

If the alien’s color isn’t green, print a statement that the player just earned 10 points.

If the alien's color isn't red or green , print a statment :, Alien is no more.....

In [5]:
Alien_color = input ("Enter Alien color : ")
if Alien_color == 'red' :
    print ("Earned 5 points for shooting Alien")
elif Alien_color == 'green':
    print ("Earned 5 points for shooting Alien")
else :
    print("Alien is no more")

Enter Alien color : red
Earned 5 points for shooting Alien

# Q10:

Write an if-elif-else chain that determines a person’s
stage of life. Set a value for the variable age, and then:
    
•	 If the person is less than 2 years old, print a message that the person is a baby.

•	 If the person is at least 2 years old but less than 4, print a message that the person is a toddler.

•	 If the person is at least 4 years old but less than 13, print a message that the person is a kid.

•	 If the person is at least 13 years old but less than 20, print a message that the person is a teenager.

•	 If the person is at least 20 years old but less than 65, print a message that the person is an adult.

•	 If the person is age 65 or older, print a message that the person is an elder.

In [16]:
age = int(input( "Enter age : "))
if age < 2 :
    print ("The person is a baby ")
elif age == 2   or age < 4 :
    print("The person is a Toddler")
elif age == 4 or age < 13 :
    print("The person is a kid")
elif age ==13 or age < 20 :
    print("The person is a teenager")
elif age ==20 or age < 65 :
    print("The person is an adult")
elif age == 65 :
    print("The person is an elder")

Enter age : 24
The person is an adult

#

# Q11:

Do the following to create a program that simulates how websites ensure that everyone has a unique username.

•	 Make a list of five or more usernames called current_users.

•	 Make another list of five usernames called new_users. 
Make sure one or two of the new usernames are also in the current_users list.

•	 Loop through the new_users list to see if each new username has already been used. 
If it has, print a message that the person will need to enter a new username. 
If a username has not been used, print a message saying that the username is available.

•	 Make sure your comparison is case insensitive. If 'John' has been used, 'JOHN' should not be accepted.

In [4]:
current_users = ["houra","najia","nahia","batool","maida"]

In [5]:
new_users = ["erum","kaneez","houra", "ali","fatima"]

In [10]:
for name in new_users :
    if name.title() in current_users :
        
        print(f"{name.upper ()}.this Username is not available, please enter a new username")
    else :
        print(f"{name.upper ()}. this username is available")

ERUM. this username is available
KANEEZ. this username is available
HOURA. this username is available
ALI. this username is available
FATIMA. this username is available

# Q12:

Use a dictionary to store information about a person you know.
Store their first name, last name, age, and the city in which they live. 
You should have keys such as first_name, last_name, age, and city. 
Print each piece of information stored in your dictionary

In [53]:
person ={'f_name':'Amna', 'l_name':'Ali', 'age':19,'city':'Karachi'}

In [54]:
person['f_name']

'Amna'

In [55]:
person['l_name']

'Ali'

In [56]:
person['age']

19

In [57]:
person['city']

'Karachi'

# Q13:

Starts with your last question 12 , loop through the dictionary’s keys and values.
When you’re sure that your loop works, add five more Python terms to your
dictionary . When you run your program again, these new words and meanings
should automatically be included in the output.

In [66]:
for k,v in person.items() :
    print(k ,v)

f_name Amna
l_name Ali
age 19
city Karachi
integer 39
string abcd
upper ABCD
boolean t/f
loop for

In [64]:
person ['integer'] = "39"
person ['string'] ="abcd"
person ['upper'] ="ABCD"
person ['boolean'] ="t/f"
person ['loop'] ="for"

In [65]:
person

{'f_name': 'Amna',
 'l_name': 'Ali',
 'age': 19,
 'city': 'Karachi',
 'integer': '39',
 'string': 'abcd',
 'upper': 'ABCD',
 'boolean': 't/f',
 'loop': 'for'}

# Q14:

Make a dictionary containing three major rivers and the country
each river runs through. One key-value pair might be 'nile': 'egypt'.
    
    
•	 Use a loop to print a sentence about each river, such as The Nile runs
through Egypt.

NOTE: use upper case through keys and values.

In [99]:
    dic = {'Indus':'Pakistan','Ganga':'India', 'Nile':'Egypt'}

In [100]:
for k ,v in dic.items() :
    print(f"The {k.upper()} runs through {v.upper()} ")

The INDUS runs through PAKISTAN
The GANGA runs through INDIA
The NILE runs through EGYPT

# Q15:

Make several dictionaries, where the name of each dictionary is the
name of a pet. In each dictionary, include the kind of animal and the owner’s
name. Store these dictionaries in a list called pets. Next, loop through your list
and as you do print everything you know about each pet.

In [98]:
cat = {'kind=':'mammal','owner=':'John'}
dog = {'kind=':'mammal', 'owner=':'Kate'}
parrot = {'kind=':'bird','owner=':'Marshal'}
rabbit = {'kind=':'mammal', 'owner=':'mick'}
pet = [cat,dog,parrot,rabbit]
for p in pet :
    for k ,v in p.items() :
        print (k,v)
    print()

kind= mammal
owner= John

kind= mammal
owner= Kate

kind= bird
owner= Marshal

kind= mammal
owner= mick